*{
    margin:0px;
    padding:0px;
    color:rgb(22,38,68);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border:border-box;
    
}


.navbar{
    background-color:rgb(19, 79, 138);
    height:62px;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    position:fixed;
    top:0;
    overflow: hidden;
}

.nav_bar1{
    background-color:rgb(19,79,138);
    height:62px;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width:90%;
    position:fixed;
    top:0;
}

.nav_boxes{
    height:40px;
    width:150px;
    border-radius: 5px;
    padding:10px;
    text-align: center;
    font-size: 20px;;
    margin:10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.nav_boxes:hover{
    background-color:rgba(149, 163, 179,0.5);
}

.nav_links{
    text-decoration: none;
    color:white;
}


@media screen and (max-width:768px){
    .navbar{
        overflow:hidden;
        position:fixed;
        width:100%;
    }

    .nav_bar1{
        display:none;
        overflow:hidden;
        height:320px;
        flex-direction: column;
        background-color:rgba(19,79,138,0.8);
        width:100%;
        margin:auto;
    }

    .navbar a{
        color:white;
        padding:14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .navbar a.icon{
        height:60px;
        width:60px;
        padding:20px;
        background-color:rgb(19, 79, 138);
        display:flex;
        justify-content: center ;
        position:absolute;
        right:0;
        top:0;
    }

    /*.navbar a:hover{
        background-color:rgba(149, 163, 179,0.5);
    }*/

    

    .navbar_boxes{
        flex-direction: column;
        width:100%;
        overflow: hidden;
    }

}
    
.searchbar{
    margin-top:115px;
}


.searchbar_bar{
    height:40px;
    width:55%;
    margin:auto;
    display:flex;
    justify-content: center;
    border:2px solid black;
    border-radius: 10px;
}

#search_bar{
    height:40px;
    width:100%;
    text-align: center;
    border-radius: 10px;
    border:none;
}


.search_tool{
    display:flex;
    justify-content: center;
    align-items: center;
    width:10%;
    border:none;
    border-radius:10px;
}

.search_tool:hover{
    background-color:rgb(206, 211, 215);
}



.validwdet{
    height:280px;
    font-size: 20px;
    margin:auto;
    width:70%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#wdetcurr{
    height:30px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wimg{
    height:30px;
    width:30px;
    background-size:contain;
}

#wdet4{
    margin-top:40px;
}

.invalidwdet{
    text-align:center;
    font-size:20px;
}

.about{
    height:300px;
    width:90%;
    margin:auto;
    text-align: center;
    font-weight:300;
    margin-top:100px;
}

.about p{
    font-size: 18px;;
    padding:40px;
}

.footer1{
    height:120px;
    background-color:rgb(19, 79, 138);
    text-align:center;
    font-size:14px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;

}

.footer1 a{
    color:aliceblue;
}

.footer1 p{
    color:aliceblue;
    margin:8px;
}

.footer2{
    background-color:rgb(19,79,138);
    height:80px;
    text-align:right;
}

#scrollToTopBtn {
    margin-right:20px;
    margin-bottom:40px;
    height: 50px;
    width:50px;
    background-color: #f9f9f9;
    color:black;
    padding: 2px;
    border-radius: 50%;
    font-size: 18px;
    z-index:2;
}

html{
    scroll-behavior:smooth;/*for smooth scrolloing to repective sections in the page*/
}


